.element-light {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-light .element-w-light {
  background-color: #ffffff;
  width: 440px;
  height: 10555px;
}

.element-light .body {
  height: 10486px;
}

.element-light .container {
  position: relative;
  width: 440px;
  height: 10486px;
}

.element-light .main {
  position: absolute;
  width: 440px;
  height: 9964px;
  top: 0;
  left: 0;
}

.element-light .list {
  position: absolute;
  width: 400px;
  height: 64px;
  top: 0;
  left: 20px;
}

.element-light .item {
  position: absolute;
  width: 84px;
  height: 24px;
  top: 20px;
  left: 0;
}

.element-light .div-wrapper {
  position: absolute;
  width: 66px;
  height: 24px;
  top: 0;
  left: 0;
}

.element-light .text-wrapper {
  position: absolute;
  width: 66px;
  height: 19px;
  top: 1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  font-size: 13.9px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .div {
  width: 10px;
  top: -1px;
  left: 70px;
  font-size: 16px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .item-2 {
  position: absolute;
  width: 45px;
  height: 24px;
  top: 20px;
  left: 84px;
}

.element-light .text-wrapper-2 {
  position: absolute;
  width: 45px;
  height: 19px;
  top: 1px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  font-size: 13.8px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg {
  position: absolute;
  width: 440px;
  height: 205px;
  top: 64px;
  left: 0;
}

.element-light .heading {
  position: absolute;
  width: 400px;
  height: 44px;
  top: 287px;
  left: 20px;
}

.element-light .NG-k-NH-n-DEAL-MI-n {
  position: absolute;
  width: 393px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.7px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-3 {
  width: 148px;
  top: 338px;
  left: 20px;
  font-size: 14.9px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .img {
  height: 205px;
  top: 387px;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .linh-nh-ti-c-ngon-r-wrapper {
  height: 44px;
  top: 611px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .linh-nh-ti-c-ngon-r {
  position: absolute;
  width: 388px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-4 {
  position: absolute;
  width: 83px;
  height: 24px;
  top: 662px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  font-size: 15.1px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-2 {
  height: 205px;
  top: 711px;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-2 {
  height: 22px;
  top: 934px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .p {
  position: absolute;
  width: 313px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.5px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-5 {
  width: 151px;
  top: 963px;
  left: 20px;
  font-size: 14.9px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-3 {
  height: 205px;
  top: 1012px;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .m-i-nh-t-golden-wrapper {
  height: 44px;
  top: 1235px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .m-i-nh-t-golden {
  position: absolute;
  width: 398px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.6px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-6 {
  width: 150px;
  top: 1286px;
  left: 20px;
  font-size: 14.9px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-4 {
  height: 205px;
  top: 1335px;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .sinh-nh-t-r-c-r-wrapper {
  height: 44px;
  top: 1558px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .sinh-nh-t-r-c-r {
  position: absolute;
  width: 357px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.3px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-7 {
  width: 151px;
  top: 1609px;
  left: 20px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-5 {
  height: 205px;
  top: 1658px;
  background-image: url(./img/brand-gg-4.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .tuy-n-t-p-tinh-hoa-b-wrapper {
  height: 44px;
  top: 1882px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .tuy-n-t-p-tinh-hoa-b {
  position: absolute;
  width: 381px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-8 {
  width: 158px;
  top: 1933px;
  left: 20px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-6 {
  height: 205px;
  top: 1982px;
  background-image: url(./img/brand-gg-23.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .b-t-i-m-i-ng-y-s-n-s-wrapper {
  height: 44px;
  top: 2205px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .b-t-i-m-i-ng-y-s-n-s {
  position: absolute;
  width: 396px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.3px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-9 {
  width: 152px;
  top: 2256px;
  left: 20px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-7 {
  height: 205px;
  top: 2305px;
  background-image: url(./img/brand-gg.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .thanh-to-n-linh-ho-t-wrapper {
  height: 66px;
  top: 2528px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .thanh-to-n-linh-ho-t {
  position: absolute;
  width: 399px;
  height: 65px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-10 {
  width: 152px;
  top: 2601px;
  left: 20px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-8 {
  height: 205px;
  top: 2650px;
  background-image: url(./img/brand-gg-6.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .qu-t-th-VISA-nh-n-wrapper {
  height: 44px;
  top: 2873px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .qu-t-th-VISA-nh-n {
  position: absolute;
  width: 381px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.3px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-11 {
  width: 89px;
  top: 2924px;
  font-size: 15.2px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-9 {
  height: 205px;
  top: 2973px;
  background-image: url(./img/brand-gg-8.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-3 {
  height: 44px;
  top: 3197px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .linh-nh-ti-c-ngon-r-2 {
  position: absolute;
  width: 392px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-12 {
  width: 86px;
  top: 3248px;
  font-size: 15.1px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-10 {
  height: 205px;
  top: 3297px;
  background-image: url(./img/brand-gg-17.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-4 {
  height: 22px;
  top: 3520px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-13 {
  position: absolute;
  width: 357px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.3px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-14 {
  width: 86px;
  top: 3549px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-11 {
  height: 205px;
  top: 3598px;
  background-image: url(./img/brand-gg-25.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .l-u-h-n-i-n-t-m-th-c-wrapper {
  height: 44px;
  top: 3822px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-15 {
  position: absolute;
  width: 374px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-16 {
  width: 84px;
  top: 3873px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-12 {
  height: 205px;
  top: 3922px;
  background-image: url(./img/brand-gg-28.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-5 {
  height: 22px;
  top: 4145px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-17 {
  position: absolute;
  width: 300px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-18 {
  width: 152px;
  top: 4174px;
  left: 20px;
  font-size: 14.9px;
  position: absolute;
  height: 24px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-13 {
  height: 230px;
  top: 4223px;
  background-image: url(./img/brand-gg-21.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .nh-ng-nguy-c-ti-m-n-wrapper {
  height: 44px;
  top: 4471px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .nh-ng-nguy-c-ti-m-n {
  position: absolute;
  width: 396px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-19 {
  width: 83px;
  top: 4522px;
  font-size: 15.1px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-14 {
  height: 248px;
  top: 4571px;
  background-image: url(./img/brand-gg-12.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .top-lo-i-l-u-cay-v-wrapper {
  height: 44px;
  top: 4837px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .top-lo-i-l-u-cay-v {
  position: absolute;
  width: 359px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-20 {
  width: 83px;
  top: 4888px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-15 {
  height: 248px;
  top: 4937px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .nguy-n-t-c-v-ng-c-n-wrapper {
  height: 44px;
  top: 5202px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .nguy-n-t-c-v-ng-c-n {
  position: absolute;
  width: 365px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-21 {
  width: 83px;
  top: 5253px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-16 {
  height: 248px;
  top: 5302px;
  background-image: url(./img/brand-gg-3.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-6 {
  height: 22px;
  top: 5568px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-22 {
  position: absolute;
  width: 346px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-23 {
  width: 80px;
  top: 5597px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-17 {
  height: 248px;
  top: 5646px;
  background-image: url(./img/brand-gg-10.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .element-sai-l-m-c-n-tr-nh-wrapper {
  height: 44px;
  top: 5911px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .element-sai-l-m-c-n-tr-nh {
  position: absolute;
  width: 372px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-24 {
  width: 81px;
  top: 5962px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-18 {
  height: 248px;
  top: 6011px;
  background-image: url(./img/brand-gg-7.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .g-c-review-n-u-ng-n-wrapper {
  height: 44px;
  top: 6277px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .g-c-review-n-u-ng-n {
  position: absolute;
  width: 379px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-25 {
  width: 81px;
  top: 6328px;
  font-size: 14.9px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-19 {
  height: 248px;
  top: 6377px;
  background-image: url(./img/brand-gg-26.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .b-t-k-p-hot-trend-v-wrapper {
  height: 44px;
  top: 6642px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .b-t-k-p-hot-trend-v {
  position: absolute;
  width: 393px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-26 {
  width: 80px;
  top: 6693px;
  font-size: 14.9px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-20 {
  height: 248px;
  top: 6742px;
  background-image: url(./img/brand-gg-2.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-7 {
  height: 22px;
  top: 7008px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-27 {
  position: absolute;
  width: 356px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-28 {
  width: 80px;
  top: 7037px;
  font-size: 14.9px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-21 {
  height: 248px;
  top: 7086px;
  background-image: url(./img/brand-gg-19.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-8 {
  height: 22px;
  top: 7351px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-29 {
  position: absolute;
  width: 385px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-30 {
  width: 81px;
  top: 7380px;
  font-size: 14.9px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-22 {
  height: 248px;
  top: 7429px;
  background-image: url(./img/brand-gg-16.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-9 {
  height: 22px;
  top: 7695px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-31 {
  position: absolute;
  width: 372px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.3px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-32 {
  width: 84px;
  top: 7724px;
  font-size: 15.1px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-23 {
  height: 248px;
  top: 7773px;
  background-image: url(./img/brand-gg-22.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .l-u-mala-l-g-c-n-s-t-wrapper {
  height: 44px;
  top: 8038px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .l-u-mala-l-g-c-n-s-t {
  position: absolute;
  width: 383px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-33 {
  width: 82px;
  top: 8089px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-24 {
  height: 248px;
  top: 8138px;
  background-image: url(./img/brand-gg-9.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .top-lo-i-l-u-th-i-wrapper {
  height: 44px;
  top: 8404px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .top-lo-i-l-u-th-i {
  position: absolute;
  width: 393px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-34 {
  width: 82px;
  top: 8455px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-25 {
  height: 248px;
  top: 8504px;
  background-image: url(./img/brand-gg-20.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .ti-u-ch-ch-n-qu-n-l-wrapper {
  height: 44px;
  top: 8769px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .ti-u-ch-ch-n-qu-n-l {
  position: absolute;
  width: 373px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-35 {
  width: 82px;
  top: 8820px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-26 {
  height: 248px;
  top: 8869px;
  background-image: url(./img/brand-gg-14.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .review-qu-n-l-u-n-m-wrapper {
  height: 44px;
  top: 9135px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-36 {
  width: 82px;
  top: 9186px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-27 {
  height: 248px;
  top: 9235px;
  background-image: url(./img/brand-gg-13.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .heading-10 {
  height: 22px;
  top: 9500px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-37 {
  position: absolute;
  width: 374px;
  height: 21px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.3px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-38 {
  width: 82px;
  top: 9529px;
  font-size: 15px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .brand-gg-28 {
  height: 248px;
  top: 9578px;
  background-image: url(./img/brand-gg-15.png);
  background-size: cover;
  background-position: 50% 50%;
  position: absolute;
  width: 440px;
  left: 0;
}

.element-light .n-m-nhi-u-t-ng-h-ng-wrapper {
  height: 44px;
  top: 9844px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .n-m-nhi-u-t-ng-h-ng {
  position: absolute;
  width: 359px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-39 {
  width: 88px;
  top: 9895px;
  font-size: 15.1px;
  position: absolute;
  height: 24px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.element-light .footer {
  position: absolute;
  width: 440px;
  height: 432px;
  top: 10054px;
  left: 0;
  background-color: transparent;
}

.element-light .overlap-group {
  position: relative;
  width: 440px;
  height: 432px;
}

.element-light .background {
  position: absolute;
  width: 440px;
  height: 432px;
  top: 0;
  left: 0;
  background-color: #231f20;
}

.element-light .text-wrapper-40 {
  position: absolute;
  width: 283px;
  height: 22px;
  top: 27px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .tr-s-ch-nh-s-ph {
  position: absolute;
  width: 366px;
  height: 148px;
  top: 74px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7b7979;
  font-size: 12.1px;
  letter-spacing: 0;
  line-height: 22px;
}

.element-light .text-wrapper-41 {
  position: absolute;
  width: 140px;
  height: 22px;
  top: 237px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.9px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .heading-11 {
  height: 22px;
  top: 282px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-42 {
  position: absolute;
  width: 122px;
  height: 16px;
  top: 2px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #7b7979;
  font-size: 12.7px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .heading-12 {
  height: 22px;
  top: 304px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-43 {
  position: absolute;
  width: 137px;
  height: 16px;
  top: 2px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #7b7979;
  font-size: 12.7px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .heading-13 {
  height: 22px;
  top: 326px;
  position: absolute;
  width: 400px;
  left: 20px;
}

.element-light .text-wrapper-44 {
  position: absolute;
  width: 122px;
  height: 16px;
  top: 2px;
  left: 0;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #7b7979;
  font-size: 12.8px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .text-wrapper-45 {
  position: absolute;
  width: 265px;
  height: 22px;
  top: 381px;
  left: 20px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.1px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
}

.element-light .container-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 252px;
  left: 356px;
}
.element-light {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-light .element-w-light {
  background-color: #ffffff;
  width: 100%;
  max-width: 440px;
}

.element-light .body {
  min-height: 10486px;
}

.element-light .container {
  position: relative;
  width: 100%;
  max-width: 440px;
}

.element-light .main {
  position: relative;
  width: 100%;
  max-width: 440px;
}

.element-light .list {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}

.element-light .item {
  display: inline-block;
  margin-right: 10px;
}

.element-light .div-wrapper {
  display: inline-block;
}

.element-light .text-wrapper {
  font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #7b7979;
  font-size: 13.9px;
  line-height: 24px;
}

.element-light .div {
  display: inline-block;
  font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #7b7979;
  font-size: 16px;
  line-height: 24px;
  margin-left: 5px;
}

.element-light .item-2 {
  display: inline-block;
}

.element-light .text-wrapper-2 {
  font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #7b7979;
  font-size: 13.8px;
  line-height: 24px;
}

.element-light .brand-gg,
.element-light .img,
.element-light .brand-gg-2,
.element-light .brand-gg-3,
.element-light .brand-gg-4,
.element-light .brand-gg-5,
.element-light .brand-gg-6,
.element-light .brand-gg-7,
.element-light .brand-gg-8,
.element-light .brand-gg-9,
.element-light .brand-gg-10,
.element-light .brand-gg-11,
.element-light .brand-gg-12,
.element-light .brand-gg-13,
.element-light .brand-gg-14,
.element-light .brand-gg-15,
.element-light .brand-gg-16,
.element-light .brand-gg-17,
.element-light .brand-gg-18,
.element-light .brand-gg-19,
.element-light .brand-gg-20,
.element-light .brand-gg-21,
.element-light .brand-gg-22,
.element-light .brand-gg-23,
.element-light .brand-gg-24,
.element-light .brand-gg-25,
.element-light .brand-gg-26,
.element-light .brand-gg-27,
.element-light .brand-gg-28 {
  width: 100%;
  max-width: 440px;
  height: auto;
  object-fit: cover;
}

.element-light .heading,
.element-light .linh-nh-ti-c-ngon-r-wrapper,
.element-light .heading-2,
.element-light .m-i-nh-t-golden-wrapper,
.element-light .sinh-nh-t-r-c-r-wrapper,
.element-light .tuy-n-t-p-tinh-hoa-b-wrapper,
.element-light .b-t-i-m-i-ng-y-s-n-s-wrapper,
.element-light .thanh-to-n-linh-ho-t-wrapper,
.element-light .qu-t-th-VISA-nh-n-wrapper,
.element-light .heading-3,
.element-light .heading-4,
.element-light .l-u-h-n-i-n-t-m-th-c-wrapper,
.element-light .heading-5,
.element-light .nh-ng-nguy-c-ti-m-n-wrapper,
.element-light .top-lo-i-l-u-cay-v-wrapper,
.element-light .nguy-n-t-c-v-ng-c-n-wrapper,
.element-light .heading-6,
.element-light .element-sai-l-m-c-n-tr-nh-wrapper,
.element-light .g-c-review-n-u-ng-n-wrapper,
.element-light .b-t-k-p-hot-trend-v-wrapper,
.element-light .heading-7,
.element-light .heading-8,
.element-light .heading-9,
.element-light .l-u-mala-l-g-c-n-s-t-wrapper,
.element-light .top-lo-i-l-u-th-i-wrapper,
.element-light .ti-u-ch-ch-n-qu-n-l-wrapper,
.element-light .review-qu-n-l-u-n-m-wrapper,
.element-light .heading-10,
.element-light .n-m-nhi-u-t-ng-h-ng-wrapper {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.element-light .NG-k-NH-n-DEAL-MI-n,
.element-light .linh-nh-ti-c-ngon-r,
.element-light .p,
.element-light .m-i-nh-t-golden,
.element-light .sinh-nh-t-r-c-r,
.element-light .tuy-n-t-p-tinh-hoa-b,
.element-light .b-t-i-m-i-ng-y-s-n-s,
.element-light .thanh-to-n-linh-ho-t,
.element-light .qu-t-th-VISA-nh-n,
.element-light .linh-nh-ti-c-ngon-r-2,
.element-light .text-wrapper-13,
.element-light .text-wrapper-15,
.element-light .text-wrapper-17,
.element-light .nh-ng-nguy-c-ti-m-n,
.element-light .top-lo-i-l-u-cay-v,
.element-light .nguy-n-t-c-v-ng-c-n,
.element-light .text-wrapper-22,
.element-light .element-sai-l-m-c-n-tr-nh,
.element-light .g-c-review-n-u-ng-n,
.element-light .b-t-k-p-hot-trend-v,
.element-light .text-wrapper-27,
.element-light .text-wrapper-29,
.element-light .text-wrapper-31,
.element-light .l-u-mala-l-g-c-n-s-t,
.element-light .top-lo-i-l-u-th-i,
.element-light .ti-u-ch-ch-n-qu-n-l,
.element-light .text-wrapper-37,
.element-light .n-m-nhi-u-t-ng-h-ng {
  font-family: "Inter-SemiBold", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 16.2px;
  line-height: 22px;
}

.element-light .text-wrapper-3,
.element-light .text-wrapper-4,
.element-light .text-wrapper-5,
.element-light .text-wrapper-6,
.element-light .text-wrapper-7,
.element-light .text-wrapper-8,
.element-light .text-wrapper-9,
.element-light .text-wrapper-10,
.element-light .text-wrapper-11,
.element-light .text-wrapper-12,
.element-light .text-wrapper-14,
.element-light .text-wrapper-16,
.element-light .text-wrapper-18,
.element-light .text-wrapper-19,
.element-light .text-wrapper-20,
.element-light .text-wrapper-21,
.element-light .text-wrapper-23,
.element-light .text-wrapper-24,
.element-light .text-wrapper-25,
.element-light .text-wrapper-26,
.element-light .text-wrapper-28,
.element-light .text-wrapper-30,
.element-light .text-wrapper-32,
.element-light .text-wrapper-33,
.element-light .text-wrapper-34,
.element-light .text-wrapper-35,
.element-light .text-wrapper-36,
.element-light .text-wrapper-38,
.element-light .text-wrapper-39 {
  font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #7b7979;
  font-size: 15px;
  line-height: 24px;
  margin: 10px 20px;
}

.element-light .footer {
  width: 100%;
  max-width: 440px;
  margin-top: 20px;
}

.element-light .overlap-group {
  position: relative;
}

.element-light .background {
  background-color: #231f20;
  padding: 20px;
}

.element-light .text-wrapper-40 {
  font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.8px;
  line-height: 22px;
  margin-bottom: 20px;
}

.element-light .tr-s-ch-nh-s-ph {
  font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #7b7979;
  font-size: 12.1px;
  line-height: 22px;
  margin-bottom: 20px;
}

.element-light .text-wrapper-41 {
  font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.9px;
  line-height: 22px;
  margin-bottom: 10px;
}

.element-light .heading-11,
.element-light .heading-12,
.element-light .heading-13 {
  margin-bottom: 10px;
}

.element-light .text-wrapper-42,
.element-light .text-wrapper-43,
.element-light .text-wrapper-44 {
  font-family: "Inter-SemiBold", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #7b7979;
  font-size: 12.7px;
  line-height: 22px;
  text-decoration: none;
}

.element-light .text-wrapper-45 {
  font-family: "Inter-Regular", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 12.1px;
  line-height: 22px;
  margin-top: 20px;
}

.element-light .container-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 252px;
  right: 20px;
}

@media (max-width: 440px) {
  .element-light .element-w-light,
  .element-light .container,
  .element-light .main,
  .element-light .footer {
    width: 100%;
  }

  .element-light .list,
  .element-light .heading,
  .element-light .linh-nh-ti-c-ngon-r-wrapper,
  .element-light .heading-2,
  .element-light .m-i-nh-t-golden-wrapper,
  .element-light .sinh-nh-t-r-c-r-wrapper,
  .element-light .tuy-n-t-p-tinh-hoa-b-wrapper,
  .element-light .b-t-i-m-i-ng-y-s-n-s-wrapper,
  .element-light .thanh-to-n-linh-ho-t-wrapper,
  .element-light .qu-t-th-VISA-nh-n-wrapper,
  .element-light .heading-3,
  .element-light .heading-4,
  .element-light .l-u-h-n-i-n-t-m-th-c-wrapper,
  .element-light .heading-5,
  .element-light .nh-ng-nguy-c-ti-m-n-wrapper,
  .element-light .top-lo-i-l-u-cay-v-wrapper,
  .element-light .nguy-n-t-c-v-ng-c-n-wrapper,
  .element-light .heading-6,
  .element-light .element-sai-l-m-c-n-tr-nh-wrapper,
  .element-light .g-c-review-n-u-ng-n-wrapper,
  .element-light .b-t-k-p-hot-trend-v-wrapper,
  .element-light .heading-7,
  .element-light .heading-8,
  .element-light .heading-9,
  .element-light .l-u-mala-l-g-c-n-s-t-wrapper,
  .element-light .top-lo-i-l-u-th-i-wrapper,
  .element-light .ti-u-ch-ch-n-qu-n-l-wrapper,
  .element-light .review-qu-n-l-u-n-m-wrapper,
  .element-light .heading-10,
  .element-light .n-m-nhi-u-t-ng-h-ng-wrapper {
    width: 90%;
  }
}