.m {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.m .div {
  background-color: #ffffff;
  width: 440px;
  height: 956px;
  position: relative;
}

.m .nhm-menu {
  position: absolute;
  width: 407px;
  height: 60px;
  top: 12px;
  left: 12px;
}

.m .text-wrapper {
  position: absolute;
  width: 320px;
  top: 129px;
  left: 22px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.m .text-wrapper-2 {
  width: 216px;
  top: 159px;
  left: 19px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}

.m .overlap-group {
  position: absolute;
  width: 72px;
  height: 24px;
  top: 104px;
  left: 16px;
}

.m .group {
  position: absolute;
  width: 52px;
  height: 20px;
  top: 4px;
  left: 20px;
}

.m .text-wrapper-3 {
  position: absolute;
  width: 50px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .chevron-left-wrapper {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 0;
}

.m .chevron-left {
  height: 24px;
}

.m .frame {
  position: relative;
  width: 6px;
  height: 12px;
  top: 6px;
  left: 9px;
  background-image: url(./img/vector.svg);
  background-size: 100% 100%;
}

.m .frame-2 {
  position: absolute;
  width: 347px;
  height: 668px;
  top: 222px;
  left: 50px;
  overflow: hidden;
  overflow-y: scroll;
}

.m .frame-2::-webkit-scrollbar {
  width: 0;
  display: none;
}

.m .frame-wrapper {
  position: absolute;
  width: 162px;
  height: 218px;
  top: 0;
  left: 0;
}

.m .frame-3 {
  display: inline-flex;
  flex-direction: column;
  height: 218px;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.m .rectangle {
  position: relative;
  width: 161.81px;
  height: 157.62px;
  object-fit: cover;
}

.m .text-wrapper-4 {
  position: relative;
  width: 155.08px;
  height: 21.2px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .text-wrapper-5 {
  position: absolute;
  width: 76px;
  height: 19px;
  top: 198px;
  left: 43px;
  font-family: "Inter-ThinItalic", Helvetica;
  font-weight: 100;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .div-wrapper {
  position: absolute;
  width: 162px;
  height: 218px;
  top: 0;
  left: 185px;
}

.m .frame-4 {
  position: absolute;
  width: 162px;
  height: 218px;
  top: 228px;
  left: 0;
}

.m .frame-5 {
  position: absolute;
  width: 162px;
  height: 218px;
  top: 228px;
  left: 185px;
}

.m .frame-6 {
  position: absolute;
  width: 162px;
  height: 218px;
  top: 456px;
  left: 0;
}

.m .frame-7 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.m .frame-8 {
  display: flex;
  flex-direction: column;
  width: 440px;
  height: 66px;
  align-items: flex-start;
  gap: 10px;
  padding: 23px 15px;
  position: absolute;
  top: 890px;
  left: 0;
  background-color: #000000cc;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.m .frame-9 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 19px;
  overflow: hidden;
  overflow-x: scroll;
}

.m .frame-9::-webkit-scrollbar {
  width: 0;
  display: none;
}

.m .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .text-wrapper-7 {
  position: absolute;
  top: 0;
  left: 49px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 143px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 186px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 270px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .u-h-vi-n {
  position: absolute;
  top: 0;
  left: 344px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .h-c-o-s-i-c-o {
  position: absolute;
  top: 0;
  left: 483px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .rau-n-m {
  position: absolute;
  top: 0;
  left: 620px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.m .text-wrapper-11 {
  top: -1px;
  left: 718px;
  font-family: "Inter-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ff6600;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 0;
  line-height: normal;
}